# Interacting with the OS and filesystem

We need to import the 'os' module

In [18]:
import os

we can now check the current directry working

In [20]:
os.getcwd()      #get current working directry

'C:\\Users\\user\\Desktop\\Python Practice'

Let's extrat all the files inside cwd

In [22]:
os.listdir('.')

['.ipynb_checkpoints',
 '100-numpy-exercises.ipynb',
 '100_Numpy_exercises_with_hints_with_solutions.md',
 'ans.pdf',
 'Assignment 3( Training and Placement Cell, LNCTU ).ipynb',
 'Assignment Questions (By Sanat Rana Sir).ipynb',
 'Basics_of_Python.ipynb',
 'Beginner Friendly Data Science Notes(By Sheetal Jain).ipynb',
 'Control Flow Statements.ipynb',
 'Dictionary_in_python.ipynb',
 'Error and Exception Handling.ipynb',
 'file.txt',
 'File_Handling.ipynb',
 'For loop in python and range().ipynb',
 'Function_in_python.ipynb',
 'Her_Thesis.pdf',
 'Iterator and Generator.ipynb',
 'List_Comprehension.ipynb',
 'List_in_python.ipynb',
 'LNCT_T&P_Assignment_1.ipynb',
 'LNCT_T&P_Assignment_2.ipynb',
 'Logging',
 'Matplotlib.ipynb',
 'Mongodb atlas and pymongo.ipynb',
 'Numpy.ipynb',
 'OOPs in Python..ipynb',
 'Panda .ipynb',
 'Patterns Using Python .ipynb',
 'PF-Python-Syntax.pdf',
 'PSS.ipynb',
 'pymongo.ipynb',
 'PYQ.ipynb',
 'Revision .ipynb',
 'Set_in_Python.ipynb',
 'Slicing.ipynb',
 'Split_Function.ipynb',
 'String_in_python.ipynb',
 'student.csv',
 'student.txt',
 'thematrix.txt',
 'Tuple_in_Python.ipynb',
 'Web Scrapping .ipynb']

In [25]:
os.listdir('./Logging')

['.ipynb_checkpoints',
 'Another_test.log',
 'check_test.log',
 'divison-calculator-log.txt',
 'Logging.ipynb',
 'test.log',
 'Well-formatted-log.txt']

Let's create a new directry

In [26]:
os.makedirs('./data',exist_ok=True)

Let's verify

In [27]:
'data' in os.listdir('.')

True

Let's download some data in these file.

In [30]:
url1 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans1.txt'
url2 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans2.txt'
url3 = 'https://gist.githubusercontent.com/aakashns/257f6e6c8719c17d0e498ea287d1a386/raw/7def9ef4234ddf0bc82f855ad67dac8b971852ef/loans3.txt'

In [33]:
from urllib.request import urlretrieve

In [34]:
urlretrieve(url1, './data/loans1.txt')

('./data/loans1.txt', <http.client.HTTPMessage at 0x28f5d8f1390>)

In [35]:
urlretrieve(url2, './data/loans2.txt')

('./data/loans2.txt', <http.client.HTTPMessage at 0x28f5d8f1e10>)

In [36]:
urlretrieve(url3, './data/loans3.txt')

('./data/loans3.txt', <http.client.HTTPMessage at 0x28f5d8f2a10>)

Let's verify that whether the files got downloaded or not

In [38]:
os.listdir('./data')

['loans1.txt', 'loans2.txt', 'loans3.txt', 'office_sales_data.xlsx']

In [39]:
#Oprning
try:
    f=open("student.txt",'r')
    data=f.read()
    print(data)
except Exception as e: 
    print("File couldn't be opened : ",e)
finally:
    f.close()

Simmi has been promoted to senior DAName: Sheetal, Age:23, aim: BWLet's help everyone

In [40]:
#Writing 
data=input("Enter the data to be stored")
try:
    f=open("student.txt",'a')
    f.write(data)
except Exception as e: 
    print("File couldn't be opened : ",e)
finally:
    f.close()

Enter the data to be storedIt's done

## Closing files automatically using `with`

To close a file automatically after you've processed it, you can open it using the `with` statement.

`Example`

In [42]:
with open('./data/loans2.txt','r') as f2:
    data=f2.read()
    print(data)

amount,duration,rate,down_payment
828400,120,0.11,100000
4633400,240,0.06,
42900,90,0.08,8900
983000,16,0.14,
15230,48,0.07,4300

## Reading a file line by line


File objects provide a `readlines` method to read a file line-by-line.

In [52]:
with open('./data/loans3.txt','r') as f3:
    data=f3.readlines()
    print(type(data),end='\n\n')
    count=1
    for i in data:
        print(f"{count} : {i} ",)
        count+=1

<class 'list'>

1 : amount,duration,rate,down_payment

2 : 45230,48,0.07,4300

3 : 883000,16,0.14,

4 : 100000,12,0.1,

5 : 728400,120,0.12,100000

6 : 3637400,240,0.06,

7 : 82900,90,0.07,8900

8 : 316000,16,0.13,

9 : 15230,48,0.08,4300

10 : 991360,99,0.08,

11 : 323000,27,0.09,4720010000,36,0.08,20000

12 : 528400,120,0.11,100000

13 : 8633400,240,0.06,

14 : 12900,90,0.08,8900

#### Let's do some more operaions

In [48]:
data=[]
with open('./data/loans3.txt','r') as f3:
    data=f3.readlines()
    print(data)
# Remember to use newline character using strip function.
data[0].strip()

['amount,duration,rate,down_payment\n', '45230,48,0.07,4300\n', '883000,16,0.14,\n', '100000,12,0.1,\n', '728400,120,0.12,100000\n', '3637400,240,0.06,\n', '82900,90,0.07,8900\n', '316000,16,0.13,\n', '15230,48,0.08,4300\n', '991360,99,0.08,\n', '323000,27,0.09,4720010000,36,0.08,20000\n', '528400,120,0.11,100000\n', '8633400,240,0.06,\n', '12900,90,0.08,8900']

'amount,duration,rate,down_payment'

We can see that, we don't have value of each cell in the below records

In [53]:
with open('./data/loans3.txt','r') as f3:
    data=f3.readlines()
    print(type(data),end='\n\n')
    count=1
    for i in data:
        print(f"{count} : {i} ",)
        count+=1

<class 'list'>

1 : amount,duration,rate,down_payment

2 : 45230,48,0.07,4300

3 : 883000,16,0.14,

4 : 100000,12,0.1,

5 : 728400,120,0.12,100000

6 : 3637400,240,0.06,

7 : 82900,90,0.07,8900

8 : 316000,16,0.13,

9 : 15230,48,0.08,4300

10 : 991360,99,0.08,

11 : 323000,27,0.09,4720010000,36,0.08,20000

12 : 528400,120,0.11,100000

13 : 8633400,240,0.06,

14 : 12900,90,0.08,8900

Now, we need to do something for the missing values.

## Processing data from files

Before performing any operations on the data stored in a file, we need to convert the file's contents from one large string into Python data types. For the file `loans1.txt` containing information about loans in a CSV format, we can do the following:

* Read the file line by line
* Parse the first line to get a list of the column names or headers
* Split each remaining line and convert each value into a float
* Create a dictionary for each loan using the headers as keys
* Create a list of dictionaries to keep track of all the loans

Since we will perform the same operations for multiple files, it would be useful to define a function `read_csv`. We'll also define some helper functions to build up the functionality step by step. 

Let's start by defining a function `parse_header` that takes a line as input and returns a list of column headers.

In [55]:
data=[]
with open('./data/loans3.txt','r') as f3:
    data=f3.readlines()
# Remember to use newline character using strip function.
data[0].strip()

'amount,duration,rate,down_payment'

In [73]:
#converting all the records into a list and strip newline character
data_records=[]
with open('./data/loans3.txt','r') as f3:
    records=f3.readlines()
    for rec in records:
        data_records.append(rec.strip().split(','))
print(data_records)

[['amount', 'duration', 'rate', 'down_payment'], ['45230', '48', '0.07', '4300'], ['883000', '16', '0.14', ''], ['100000', '12', '0.1', ''], ['728400', '120', '0.12', '100000'], ['3637400', '240', '0.06', ''], ['82900', '90', '0.07', '8900'], ['316000', '16', '0.13', ''], ['15230', '48', '0.08', '4300'], ['991360', '99', '0.08', ''], ['323000', '27', '0.09', '4720010000', '36', '0.08', '20000'], ['528400', '120', '0.11', '100000'], ['8633400', '240', '0.06', ''], ['12900', '90', '0.08', '8900']]

### Read the file line by line

In [78]:
with open('./data/loans3.txt','r') as f3:
    records=f3.readlines()

### Parse the first line to get a list of the column names or headers

In [79]:
def parse_header(header_line):
    return header_line.strip().split(',')

In [80]:
header = parse_header(records[0])

In [77]:
header

['amount', 'duration', 'rate', 'down_payment']

We want to create a loan list containing each loan. What we will do is we will create a loan dictionary as shown below for each record

In [81]:
#For a loan
loan1={
    'amount':45230,
    'duration(in months)':48,
    'rate':0.07,
    'down_payment':4300
}

loans=[{
    'amount':45230,<br>
    'duration(in months)':48,<br>
    'rate':0.07,
    'down_payment':4300<br>
        },<br>
        {<br>
    'amount':883000,<br>
    'duration(in months)': 16,<br>
    'rate':0.14,<br>
    'down_payment':4300<br>
        },<br>
        .<br>
        .<br>
        .<br>
        .<br>
    and so on]<br>

### Spliting each remaining line and convert each value into a float

In [87]:
def parse_value(data_record):
    values=[]
    for item in data_record.strip().split(','):
        if item=='':
            values.append(0.0)
        else:
            values.append(float(item))
    return values

Using this function, we will be converting each data point in float value and missing values will be kept 0.0

`Example`

In [91]:
with open('./data/loans3.txt','r') as f3:
    modified_data=[]
    records=f3.readlines()
    for i in range(1,len(records)):
        modified_data.append(parse_value(records[i]))
modified_data

[[45230.0, 48.0, 0.07, 4300.0],
 [883000.0, 16.0, 0.14, 0.0],
 [100000.0, 12.0, 0.1, 0.0],
 [728400.0, 120.0, 0.12, 100000.0],
 [3637400.0, 240.0, 0.06, 0.0],
 [82900.0, 90.0, 0.07, 8900.0],
 [316000.0, 16.0, 0.13, 0.0],
 [15230.0, 48.0, 0.08, 4300.0],
 [991360.0, 99.0, 0.08, 0.0],
 [323000.0, 27.0, 0.09, 4720010000.0, 36.0, 0.08, 20000.0],
 [528400.0, 120.0, 0.11, 100000.0],
 [8633400.0, 240.0, 0.06, 0.0],
 [12900.0, 90.0, 0.08, 8900.0]]

In [93]:
#Now the data is compatible for performing computations
count=1
for item in modified_data:
    print(f"{count} : {item}")
    count+=1

1 : [45230.0, 48.0, 0.07, 4300.0]
2 : [883000.0, 16.0, 0.14, 0.0]
3 : [100000.0, 12.0, 0.1, 0.0]
4 : [728400.0, 120.0, 0.12, 100000.0]
5 : [3637400.0, 240.0, 0.06, 0.0]
6 : [82900.0, 90.0, 0.07, 8900.0]
7 : [316000.0, 16.0, 0.13, 0.0]
8 : [15230.0, 48.0, 0.08, 4300.0]
9 : [991360.0, 99.0, 0.08, 0.0]
10 : [323000.0, 27.0, 0.09, 4720010000.0, 36.0, 0.08, 20000.0]
11 : [528400.0, 120.0, 0.11, 100000.0]
12 : [8633400.0, 240.0, 0.06, 0.0]
13 : [12900.0, 90.0, 0.08, 8900.0]

#### This is also a method of handling missing values

Next, let's define a function `create_item_dict` that takes a list of values and a list of headers as inputs and returns a dictionary with the values associated with their respective headers as keys.

In [95]:
def create_item_dict(header,record):
    loans_dictionary={}
    for h,v in zip(header,record):
        loans_dictionary[h]=v
    return loans_dictionary

Let's create a list of dictionaries of loans using the three custom functions we have built.

In [98]:
#parse_header()
#parse_value()
#create_item_dict()
with open('./data/loans3.txt','r') as f:
    list_of_loans=[]
    records=f.readlines()
    header=parse_header(records[0])
    for i in range(1,len(records)):
        values=parse_value(records[i])
        loan=create_item_dict(header,values)
        list_of_loans.append(loan)
list_of_loans

[{'amount': 45230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0},
 {'amount': 883000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0},
 {'amount': 100000.0, 'duration': 12.0, 'rate': 0.1, 'down_payment': 0.0},
 {'amount': 728400.0,
  'duration': 120.0,
  'rate': 0.12,
  'down_payment': 100000.0},
 {'amount': 3637400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 82900.0, 'duration': 90.0, 'rate': 0.07, 'down_payment': 8900.0},
 {'amount': 316000.0, 'duration': 16.0, 'rate': 0.13, 'down_payment': 0.0},
 {'amount': 15230.0, 'duration': 48.0, 'rate': 0.08, 'down_payment': 4300.0},
 {'amount': 991360.0, 'duration': 99.0, 'rate': 0.08, 'down_payment': 0.0},
 {'amount': 323000.0,
  'duration': 27.0,
  'rate': 0.09,
  'down_payment': 4720010000.0},
 {'amount': 528400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0},
 {'amount': 8633400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 12900.0, 'duration': 90.0, 'rate': 0.08, 'down_payment': 8900.0}]

In [108]:
def read_csv(path):
    list_of_loans=[]
    with open(path,'r') as f:
        records=f.readlines()
        header=parse_header(records[0])
        for rec in records[1:]:
            values=parse_value(rec)
            loan=create_item_dict(header,values)
            list_of_loans.append(loan)
        return list_of_loans

`Example`
Here, we will be trying it out on loans2.txt values

In [109]:
read_csv('./data/loans2.txt')

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0},
 {'amount': 4633400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 42900.0, 'duration': 90.0, 'rate': 0.08, 'down_payment': 8900.0},
 {'amount': 983000.0, 'duration': 16.0, 'rate': 0.14, 'down_payment': 0.0},
 {'amount': 15230.0, 'duration': 48.0, 'rate': 0.07, 'down_payment': 4300.0}]

`Tip`
Here, we have made our custom read_csv() function. With time, we can build many such functions. For future use, we can create a repository on plateform such as github and later we can make our work even more easy with the help of our custom functions.

#### Let's compute emi for each loan and add in modified_data dictionries of loans which shows emi for each loan

<img src="">

In [124]:
import math
def loan_emi(loan):
    principle=loan['amount']-loan['down_payment']
    try:
        emi= principle * loan['rate'] * ((1+loan['rate'])**loan['duration'])/(((1+loan['rate'])**loan['duration'])-1)
    except Exception as e:
        emi = principle/duration
    emi=math.ceil(emi)
    return emi

In [125]:
loan_records=read_csv('./data/loans2.txt')
for loan in loan_records:
    loan['emi']=loan_emi(loan)
loan_records

[{'amount': 828400.0,
  'duration': 120.0,
  'rate': 0.11,
  'down_payment': 100000.0,
  'emi': 80125},
 {'amount': 4633400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'emi': 278005},
 {'amount': 42900.0,
  'duration': 90.0,
  'rate': 0.08,
  'down_payment': 8900.0,
  'emi': 2723},
 {'amount': 983000.0,
  'duration': 16.0,
  'rate': 0.14,
  'down_payment': 0.0,
  'emi': 156902},
 {'amount': 15230.0,
  'duration': 48.0,
  'rate': 0.07,
  'down_payment': 4300.0,
  'emi': 797}]

## Let's write it to a file

In [136]:
with open("./data/emi_of_loans2.txt","a") as f:
    f.write(" Amount,Duration,Rate,Down_payment, EMI\n")
    for rec in loan_records:
        f.write(f"{rec['amount']} , {rec['duration']} , {rec['rate']} , {rec['down_payment']} , {rec['emi']}\n")

# Let's make write_csv() custom function

In [151]:
def write_csv(records,path):
    #return if nothing is to be written
    if len(records)==0:
        return
    #Opening a file
    with open(path,"w") as f:
        header=list(records[0].keys())
        f.write(','.join(header)+'\n')
    #Writing records
        for rec in records:
            f.write(f"{rec['amount']} , {rec['duration']} , {rec['rate']} , {rec['down_payment']} , {rec['emi']}\n")

In [153]:
#calculating loans
loan_records=read_csv('./data/loans3.txt')
output_filepath='./data/emi_of_loans3.txt'
# adding emi column
for loan in loan_records:
    loan['emi']=loan_emi(loan)
write_csv(loan_records,output_filepath)