# String

String is a collection of more than 1 character. But in python, a single character is also considered string.

In [1]:
#Example 1
char = 'A'
type(char)

str

In [2]:
#Example 2
name = 'Sheetal Jain'
type(name)

str

###### String can be defined using single single as well as double quotes.

In [3]:
#Example 3

f_name="Manoj Kumar Jain"
print(f_name)

Manoj Kumar Jain

### We can use triple quotes to write each word of a string in a separate line.

In [4]:
aim = """I
Want 
Serve 
India"""

In [5]:
print(aim)

I
Want
Serve
India

### We can access characters of a string using subscript operator

In [6]:
#Example 1
goal = "A skilled person"
print(goal[5])

l

In [7]:
#Example 2
goal[1:11:2]

' kle '

In [8]:
#Example 3
goal[::-1]

'nosrep delliks A'

In [9]:
#Example 4
goal[2:9]

'skilled'

## Q1: WAP to accept input from a user and print in reverse without using slicing

In [13]:
s = str(input("Enter your name : "))
f=0
b=len(s)-1
reverse_string=""

Enter your name : simmi