# List Comprehension

When we want to make a list object from another list, we can follow following syntax:

  ####  Syntax:

 _list = [_expression_ for _elements_ in _iterable_ if _testcondition_]

In [7]:
#Example
list1=[X*X  for X in [1,2,3,4] if X%2==0]
print(list1)

[4, 16]

Here, the variable should be same. Here is an example:

#### => We use list comprehension to reduce time and space complexity.
#### => We use list comprehension to reduce code complexity
#### => Better use of list comprehension is in lamda function, map function, and filter function.
#### => an iterable object can be a string, a list, a tuple,a dict,a set, range()

In [3]:
#example
[x**2 for x in range(1,10) if x%2!=0]

[1, 9, 25, 49, 81]

In [4]:
my_string="Sheetal Jain"
l1=[x for x in my_string]

In [5]:
for x in l1:
    print(x)

S
h
e
e
t
a
l

J
a
i
n

#### List comprehension can be used to optimize code. Here, we can see, how easily and in a single line of code, we can generate squars and can store them in a list using with the help of list comprehension

In [6]:
#example 1:
[x**2 for x in range(1,6)]

[1, 4, 9, 16, 25]

In [7]:
# Example 2:
[y**3 for y in range(1,11,2)]

[1, 27, 125, 343, 729]

In [8]:
#Example 3:
[x for x in range(1,11,1)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Q1: WAP to accept a string from a user, and write it in upper case.

In [2]:
#Answer code1
for i in [x.upper() for x in str(input("Enter Name:"))]:
    if ord(i)==32:
        print(" ",end="")
    else:
        print(i,end="")

Enter Name:Rajmala
RAJMALA

### Q2: WAP to accept 5 integers from a user and store them in list and find the sum of all element stored in list

In [ ]:
j=[]
for i in range(1,6):
    j.append(int(input("Enter the number : ")))   
print("Sum of all elements : ",sum(j))

### Q3: WAP  for priting squares of odd numbers form 1 to twenty using list comprehension

In [ ]:
[x**2 for x in range(1,20,2)]

## Nesting in List Comprehension

In [2]:
[[j*i for i in range(1,11)] for j in range(13,20)]

[[13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170],
 [18, 36, 54, 72, 90, 108, 126, 144, 162, 180],
 [19, 38, 57, 76, 95, 114, 133, 152, 171, 190]]

## Using Control Statements with List Comprehension

In [6]:
#Example 1:
[n for n in range(1,101) if n%7==0 if n%5==0]

[35, 70]

In [10]:
#Example 2:
[k*l for k in range(1,101) for l in range(1,101) if k%30==0 and l%60==0]

[1800, 3600, 5400]

True

In [13]:
def isPalindrom(n):
    ans=0
    dummy=n
    while dummy!=0:
        digit=dummy%10
        ans=ans*10+digit
        dummy=dummy//10
    if ans==n:
        return True
    else:
        return False
x=[121,43,565,1221,11,1881,746,909]
y=[i for i in x if isPalindrom(i)]
print(y)

[121, 565, 1221, 11, 1881, 909]

Create a prgram to find those numbers which are divible by 7 and multiple of 5, between 1500 and 2700(both included)

In [3]:
result=[i for i in range(1500,2701) if i%5==0 and i%7==0]
for i in result:
    print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695