# String

String is a collection of more than 1 character. But in python, a single character is also considered string.

In [1]:
#Example 1
char = 'A'
type(char)

str

In [2]:
#Example 2
name = 'Sheetal Jain'
type(name)

str

###### String can be defined using single as well as double quotes.

In [3]:
#Example 3

f_name="Manoj Kumar Jain"
print(f_name)

Manoj Kumar Jain

### We can use triple quotes to write each word of a string in a separate line.

In [4]:
aim = """I
Want 
Serve 
India"""

In [2]:
try1='''Hi
I 
am 
Simmi
Jain'''

In [4]:
print(try1)

Hi
I
am
Simmi
Jain

In [5]:
print(aim)

I
Want
Serve
India

### We can access characters of a string using subscript operator

In [7]:
#Example 1
goal = "A skilled person"
print(goal[5])

l

Slicing can also be applied on a string. When we write subscript operator for slicing, first parameter represents initiation index, second parameter represents ending index, and third parameter represents jump.

In [6]:
#Example 2
goal[1:11:2]

NameError: name 'goal' is not defined

In [8]:
#Example 3
goal[::-1]

'nosrep delliks A'

In [8]:
goal[::1]

'A skilled person'

In [9]:
#Example 4
goal[2:9]

'skilled'

## Q1: WAP to accept input from a user and print in reverse without using slicing

In [10]:
#Solution Code 
s = str(input("Enter your name : "))
rs=[]
i = -1
while  i >=(-len(s)): 
    rs.append(s[i])
    i-=1
for g in rs:
    print(g,end="")

Enter your name : simmi sheetal jain
niaj lateehs immis

### Functions in String

In [ ]:
1. len() :  To obatin length
2. max() :  Returns maximum ascii value character
3. min() :  Returns minimum ascii value character
4. ord() :  Returns ascii code of a character
5. chr() :  returns charcter of an entered ascii value

In [13]:
#Example 1:
s = "Simmi Sheetal Jain"
print(s)

Simmi Sheetal Jain

In [14]:
#Example 2:
max(s)

't'

In [15]:
#Example 3:
min(s)

' '

In [16]:
#Example 4:
ord('a')

97

In [19]:
#Example 5
chr(97)

'a'

### String Concatenation

It can be achieved using '+' operator

E.G.:

In [20]:
a="Simmi"
b="Sheetal"
c="Jain"
d = a+" "+b+" "+c
print(d)

Simmi Sheetal Jain

### Relational operator on string:

In [23]:
#Example 1
"Ice"  > "cream"

False

In [24]:
#Example 2:
"Tie"  < "Til"

True

In [25]:
#Example 3:
"Ice"  >= "Ica"

True

In [26]:
#Example 4:
"Namita" <= "Namika"

False

In [28]:
#Example 5:
"She" != "She"

False

In [29]:
#Example 6:
"He" == "She"

False

###### here, ASCII code is compared character by character respectively.

### Membership operator in string

In [5]:
#Example 1
s="Simmi"
'S' in "Simmi"

True

In [32]:
#Example 2
'S' not in "Simmi"

False

### Identity operator in string

In [33]:
#Example 1
a = "Simmi"
b = "Simmi"
a is b

True

In [34]:
#Example 2
a = "Simmi"
b = "Sheetal"
a is not b

True

In [35]:
#Example 3
a is b

False

### Methods in string

1. capitalize() : Sentence case 
2. lower() : convert string into lower case
3. upper() :  Convert string into upper case
4. swapcase() : swaps case of each letter i.e. small to capital and vice-versa.
5. title() : Convet a passed string into the a title case i.e. first letter of each word in Capital and rest letters in small.
6. isupper() : Returns true is string is in upper case else it returns false.
7. islower() : Returns true is string is in lower case else it returns false.
8. isalpha() : Returns true if all charater in a string are alphabets only else it returns false.
9. isdigit() : Returns true if all charater in a string are digits only else it returns false.   
10. isalnum(): Returns true if all charater in a string are digits and alpabets only else it returns false.       
11. isspace():Returns true if all charater in a string are white space else it returns false.       
12. startswith() : Returns true if string starts with string passed in this mehtods else returns false.
13. endswith() : Returns true if string ends with string passed in this mehtods else returns false.    
14. index() : Returns the index of the first letter of a substring passed inside this function at its first occurrence in the main string. If string isn't fount it raises exception
15. count() :Returns the number of times a substring passed in it occurrs in main string   
16. split() :Splits a string. Charcter, using which spliting is going to be performed, can be passed in the split function (Default character is " ", a single white space )    
17. join() : can join elements of an iterable passed in it.

In [23]:
#Example 1
name = "siMMi ShEEtal JAiN"
#1. capitalize()
print(name.capitalize())
#2. lower()
print(name.lower())
#3. upper()
print(name.upper())
#4. swapcase()
print(name.swapcase())
#5. title()
print(name.title())
#6. isupper()
print(name.isupper())
#7. islower()
print(name.islower())
#8. isalpha()
print(name.isalpha())
#9. isdigit()
number = '7895354805'
print(number.isdigit())
#10. isalnum()
alnum = "Simmi1101"
print(alnum.isalnum())
#11. isspace()
white_space = "           "
print(white_space.isspace())
#12. startswith
print(name.startswith('siMMi'))
#13. endswith
print(name.endswith('JAiN'))
#14. index()
print(name.index("JAiN"))
#15. count()
string = " India has immature IT industry. I believe I can make it a mature market."
print(string.count("India"))
#16. split()
print("I love my parents and family. I will not kill my precious time any more.".split())
print("I$Love$MY$INDIA".split("$"))
#17. join()
print(" ".join(["S","H","E","E","T","A","L"]))
print("@".join(["S","H","E","E","T","A","L"]))
print(" ".join("SIMMI"))

Simmi sheetal jain
simmi sheetal jain
SIMMI SHEETAL JAIN
SImmI sHeeTAL jaIn
Simmi Sheetal Jain
False
False
False
True
True
True
True
True
14
1
['I', 'love', 'my', 'parents', 'and', 'family.', 'I', 'will', 'not', 'kill', 'my', 'precious', 'time', 'any', 'more.']
['I', 'Love', 'MY', 'INDIA']
S H E E T A L
S@H@E@E@T@A@L
S I M M I

### Ways of printing a string:

In [29]:
#Way 1: Using Format function
name="Simmi"
number=7895653975
print("My name is {0} and number is {1}" .format(name,number))

My name is Simmi and number is 7895653975

In [30]:
#Way 2: Using format specifiers
print("My name is %s and number is %d "%(name,number))

My name is Simmi and number is 7895653975

In [31]:
#Way 3: passing varable whereever the data of variable is to be printed.
print("My name is ", name,"and My number is ",number)

My name is  Simmi and My number is  7895653975

In [32]:
#Way 4: f-string (Also Called String interpolation), its execution time is too less.

print(f"my name is {name} and My number is {number}")

my name is Simmi and My number is 7895653975

In [14]:
d = "1234"
l = []
for i in d:
    l.append(int(i))

In [15]:
l

[1, 2, 3, 4]

In [2]:
x="Ankit"
x=list(x)

In [3]:
def addtion():

In [3]:
goal="Hello"
for i in range(-1,-(len(goal)+1),-1):
    print(goal[i],end="")

olleH

In [1]:
#Example 1
name = "siMMi ShEEtal JAiN"
#1. capitalize()
print(name.capitalize())
#2. lower()
print(name.lower())
#3. upper()
print(name.upper())

Simmi sheetal jain
simmi sheetal jain
SIMMI SHEETAL JAIN

In [42]:
ord('0')

48

In [18]:
"EASa:,:bc123".lower()

'easa:,:bc123'

In [38]:
s="A man, a plan, a canal: Panama"
s.lower()
print(s)
demo1=[]
print(demo1)
Flag=False
for i in s:
    if ((96 < ord(i) < 123) or (48<ord(i)<58)):
        demo1.append(i)
print(demo1)
ans=''.join(demo1)
print(ans[::-1],"  ",ans)

A man, a plan, a canal: Panama
[]
['m', 'a', 'n', 'a', 'p', 'l', 'a', 'n', 'a', 'c', 'a', 'n', 'a', 'l', 'a', 'n', 'a', 'm', 'a']
amanalanacanalpanam    manaplanacanalanama

In [34]:
97-65

32

In [37]:
"A man, a plan, a canal: Panama".lower()

'a man, a plan, a canal: panama'